.our-section {
    background-color: rgba(var(--bg-b),1.0);
    padding: clamp(60px, 12.5vw, 150px) 0 clamp(60px, 8.333vw, 100px);

    &__top {
        align-items: center;
        text-align: center;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: clamp(48px, 6.667vw, 80px);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: clamp(20px, 3.75vw, 45px);

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        @include mobile {

            &:nth-child(1) {order: 1;}
            &:nth-child(2) {order: 3;}
            &:nth-child(3) {order: 5;}
            &:nth-child(4) {order: 2;}
            &:nth-child(5) {order: 4;}
            &:nth-child(6) {order: 6;}
        }
    }

    .info-card {
        cursor: pointer;
        width: 100%;
        max-width: 100%;

        &:hover {
            .info-card__inner::before {
                opacity: 0;
            }

            .info-card__counter,
            p {
                color: rgba(var(--cl-b),1.0);
            }

        }

        &__inner {
            position: relative;
            padding-bottom: 20px;
            &::before {
                inset: 1px;
                background-color: rgba(var(--bg-b),1.0);
                position: absolute;
                clip-path: inherit;
                content: '';  
                z-index: 1;
                transition: all .3s;  
                pointer-events: none;
            }

            * {
                position: relative;
                z-index: 2;
            }
        }

        p {
            color: rgba(var(--cl-f),1.0);
            transition: all .3s;  
        }

        &__counter {
            color: rgba(var(--cl-d),1.0);
            transition: all .3s;  
        }
    }
}