.step-section {
    padding-top: clamp(60px, 8.333vw, 95px);
    padding-bottom: clamp(60px, 12.5vw, 140px);
    --icon-size: clamp(40px, 4.167vw, 50px);
    --gap: 40px;

    @include mobile {
        padding: 60px 0;
    }

    &__top {
        align-items: center;
        text-align: center;
        gap: 25px;

        .main-top__title {
            color: rgba(var(--cl-e),1.0);
        }
    }
    
    &__inner {
        display: flex;
        flex-direction: column;
        gap: clamp(48px, 6.667vw, 70px);
    }

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap) 20px;
        counter-reset: li;
        position: relative;

        @include for-mobile {
            &::before {
                width: 100vw;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                content: '';
                height: 2px;
                background-image: var(--line);
                top: calc(var(--icon-size) / 2);
            }
        }

        @include mobile {
            grid-template-columns: 100%;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        gap: clamp(20px, 3.333vw, 40px);
        position: relative;
        counter-increment: li;

        p {
            color:  rgba(var(--cl-e),1.0);
            font-family: var(--font-family);
            font-size: clamp(14px, 2vw, 24px);
            font-style: normal;
            font-weight: 400;
            line-height: 110%; /* 26.4px */
            text-transform: uppercase;

            @include mobile {
                font-size: 18px;
                max-width: 290px;
            }
        }

        @include mobile {

            &:nth-child(odd) {
                &::before {
                    left: 50%;
                    right: -10px;
                    top: calc(var(--icon-size) / 2 - 2px);
                    bottom: calc((var(--gap) + var(--icon-size) / 2) * -1 - 2px);
                    position: absolute;
                    content: '';
                    background-image: var(--border-line);
                    background-size: 100% 100%;
                    background-position: right;
                    background-repeat: no-repeat;
                    transform: scaleX(-1);
                }
            }

            &:nth-child(even) {
                &::before {
                    right: 50%;
                    left: -10px;
                    top: calc(var(--icon-size) / 2 - 2px);
                    bottom: calc((var(--gap) + var(--icon-size) / 2) * -1  - 2px);
                    position: absolute;
                    content: '';
                    // background-color: red;
                    background-image: var(--border-line);
                    background-size: 100% 100%;
                    background-position: right;
                    background-repeat: no-repeat;
                    // transform: scaleX(-1);
                }
            }


            &:last-child {
                &::after {
                    right: calc(var(--container-offset) * -1);
                    left: 50%;
                    transform: translate(0%, -50%);
                    position: absolute;
                    content: '';
                    height: 2px;
                    background-image: var(--mobile-line);
                    top: calc(var(--icon-size) / 2);
                    background-size:100% 100%;
                }

                &::before {
                    display: none;
                }
            }

            &:first-child {
                &::after {
                    left: calc(var(--container-offset) * -1);
                    right: 50%;
                    transform: translate(0%, -50%);
                    position: absolute;
                    content: '';
                    height: 2px;
                    background-image: var(--mobile-line);
                    top: calc(var(--icon-size) / 2);
                    background-size: 100% 100%;
                }

               
            }
        }
    }

    &__label {
        display: flex;
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: 50%;
        background-color: rgba(var(--bg-d),1.0);

        color: var(--2, #0B0B0B);
        text-align: center;
        font-family: var(--font-family);
        font-size: clamp(20px, 2.333vw, 28px);
        font-style: normal;
        font-weight: 400;
        line-height: 100%; 
        text-transform: uppercase;
        position: relative;
        z-index: 2;

        &::before {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            content: counter(li);
          }
    }
}