<footer>
    <div class="container">
        <div class="footer">
            <span class="footer__text">
                ©2023 LLC RentApps. <br> All rights reserved
            </span>

            <ul class="social footer__social">
                <li class="social__item">
                    <a href="#">
                        <svg width='52' height='52'>
                            <use href='img/sprite/sprite.svg#insta'></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#">
                        <svg width='52' height='52'>
                            <use href='img/sprite/sprite.svg#telegram'></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <a href="#" class="footer__policy">
                Политика <br> конфиденциальности
            </a>

        </div>
    </div>
</footer>

