.info-card {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 346px;
  min-height: clamp(144px, 17.083vw, 205px);
  z-index: 2;

  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    gap: 20px;
    background-color: rgba(var(--bg-d),1.0);

    @include mobile {

    }
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: clamp(12px, 1.5vw, 18px);
    line-height: 120%; /* 21.6px */
    font-family: var(--font-family);
    color: rgba(var(--cl-b),1.0);
  }

  &__counter {
    font-style: normal;
    font-weight: 600;
    font-size: clamp(20px, 2.667vw, 32px);
    line-height: 100%; /* 38.4px */
    font-family: var(--font-family);
    color: rgba(var(--cl-b),1.0);
  }
}
