html {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  min-height: -webkit-fill-available;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  font-family: var(--font-family);
  color: rgba(var(--global-color),1.0);

  background-color: var(--body-bg);
  counter-reset: step-counter;
  -webkit-text-size-adjust: 100%;
  // for text resize

  &.fixed-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    // disable scroll
  }
}

main {
  padding-top: var(--header-height);
  // transition: padding-top .3s ease-in-out;
  min-width: 0 !important;

  scroll-snap-type: y mandatory;

  &.no-padding {
    padding: 0;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a {
  display: inline-flex;
  margin: 0;

  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

button {
  display: inline-flex;
  margin: 0;
  padding: 0;

  line-height: initial;
  color: inherit;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  color: rgba(var(--cl-e),1.0);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

picture {
  display: inline-flex;
}

label {
  display: inline-flex;
}

input {
  width: 100%;

  background-color: transparent;
  border: none;
  outline: none;

  &::placeholder {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

textarea {
  border: none;
  outline: none;

  resize: none;
}

input[type="number"] {
  appearance: textfield;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  position: relative;

  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

.panel,
[data-content] {
  z-index: 20;

  max-height: 0;
  overflow: hidden;

  transition: max-height 0.2s;
}

[data-tab-content] {
  display: none;

  &.active {
    display: block;
  }
}

.dis-scroll {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  overflow: hidden;

  overscroll-behavior: none !important;
  scroll-behavior: none !important;
}


.overlay {
  @include overlay;
}

* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 7px;
    // display: none;

    cursor: pointer;

    @include small-tablet {
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    cursor: pointer;

    transition: all 0.2s;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }

  &::-webkit-scrollbar-button {
    display: none;

    background-color: transparent;
    box-shadow: none;
  }
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

[data-btn-modal] {
  svg {
    pointer-events: none;
  }
}


.modal {
  position: absolute;
  margin: auto;
  transform: scale(.8);
  display: none;

  &.active {
    position: initial;
    transform: none;
    transform: scale(1);
  }

  .close svg {
    pointer-events: none;
  }
}

.mask {
  filter: drop-shadow(6px 7px 10px rgba(0, 0, 0, 0.15)) drop-shadow(4px 4px 11px rgba(0, 0, 0, 0.20)) drop-shadow(13px 13px 18px rgba(0, 0, 0, 0.10));
  display: flex;

  &__inner {
    clip-path: polygon(16% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 13%);
    min-height: inherit;
    padding: 
    clamp(36px, 3.75vw, 45px) 
    clamp(14px, 1.667vw, 20px)
    25px
    clamp(14px, 1.667vw, 20px);
  }
}

.btn-mask {
  clip-path: polygon(95% 0, 100% 25%, 100% 100%, 5% 100%, 0% 75%, 0 0);
}



