.main-title {
  color: rgba(var(--cl-e),1.0);
  font-family: var(--font-family3);
  font-size: clamp(36px, 5.333vw, 64px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.main-subtitle {
  color: rgba(var(--cl-b),1.0);
  font-family: var(--font-family3);
  font-size: clamp(26px, 3.667vw, 44px);
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 48.4px */
  text-transform: uppercase;
}